.gpt3__features-container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.gpt3__features-container__feature-title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.gpt3__features-container__feature-title h1 {
  font-family: var(--font-family);
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.gpt3__features-container__feature-title div {
  width: 38px;
  height: 2px;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 0.25rem;
}

.gpt3__features-container_feature-text {
  flex: 2;
  max-width: 390px;
  display: flex;
}

.gpt3__features-container_feature-text p {
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

@media screen and (max-width: 990px) {
  .gpt3__features {
    flex-direction: column;
  }

  .gpt3__features-heading {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__features-heading h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
